body{
    background-color: bisque;
}
h1
{
    color: black;
    background-color: bisque;
    font-family: 'Sevillana', cursive;
    font-size: 60px;
    font-weight: bolder;
    margin:5px;
}

#show_sketch
{
    float: right;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    animation-name: pencil;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}
@keyframes pencil
{
    from{box-shadow: 1px 1px 38px grey;}
    to{box-shadow: 1px 1px 38px white;}
}
p{
    padding-top: 10px;
    font-size: 25px;
}